.app {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  flex-direction: column;
}

.app .characters {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  flex: 1;
}

.app .character {
  background-color: white;
  padding: 24px;
  color: black;
  font-size: 12px;
}

.app .character .name {
  font-weight: bold;
}

.app .buttons {
  display: flex;
  gap: 1rem;
  margin-top: 12px;
}

.app .buttons span {
  cursor: pointer;
}

.app .buttons span.active {
  color: red;
}

.app .buttons button {
  height: 60px;
  width: 200px;
  font-size: 18px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  color: white;
}

.app .buttons button.disabled {
  border: 2px solid rgb(85, 85, 85);
  color: rgb(85, 85, 85);
}
